#deconnexion {
    background-color: transparent;
    text-decoration: none;
    color: #007bff;
}

#deconnexion:hover {
    color: #0056b3;
}

#navbarNavAltMarkup {
    justify-content: space-between;
}