<nav class="mt-3">
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-game" role="tab" aria-controls="nav-home" aria-selected="true">Jeux à valider</a>
      <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-modif" role="tab" aria-controls="nav-profile" aria-selected="false">Modification de jeux</a>
    </div>
</nav>
  <div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-game" role="tabpanel" aria-labelledby="nav-home-tab"> <!-- Ici on liste les jeux à valider-->
        <ul class="list-group">
          <li class="list-group-item" *ngIf="isEmpty"><i>Aucun jeu à valider</i></li>
            <li class="list-group-item" style="display: inline-flex;flex-wrap: wrap;"  *ngFor="let invalidgame of invalidGames; let i =index">
                <img [src]="invalidgame.game.photo" id="photoGame">
                <div class="listGame">
                    <p><b>Titre : </b> {{invalidgame.game.title}}</p>
                    <p><b>Développeur : </b> {{invalidgame.game.developpeur}}</p>
                    <p><b>Age requis : </b> {{invalidgame.game.age}}</p>
                    <p><b>Genre(s) : </b> {{invalidgame.game.genre}}</p>
                    <p><b>Multijoueur : </b> {{invalidgame.game.multijoueur}}</p>
                    <p><b>Plateforme(s) : </b> {{invalidgame.game.plateforme}}</p>
                    <button class="btn btn-outline-success" (click)="validerGame(i)">Valider</button>
                    <button class="btn btn-outline-danger" (click)="refuserGame(i)" style="margin-left: 10px;">Refuser</button>
                </div>
            </li>
        </ul>
    </div>

    <!-- DEUXIEME ONGLET -->

    <div class="tab-pane fade" id="nav-modif" role="tabpanel" aria-labelledby="nav-profile-tab">
      <div class="input-group mb-3 mt-3">
        <div class="input-group-prepend">
          <label class="input-group-text" for="inputModif">Modifications</label>
        </div>
        <select class="custom-select" id="inputModif" (change)="onChangeModif($event)">
          <option value="-1" selected disabled>Choose a modification</option>
          <option  *ngFor="let modif of gamesModifications;let i=index" value="{{i}}">{{modif.title}}</option>
        </select>
      </div>

      <ng-select [(ngModel)]="event_type" [items]="games" bindLabel="title" placeholder="Select a Game" [clearable]="false" (change)="onChangeGame($event)">
      </ng-select>

      <!--On affiche ici les deux jeux à comparer-->
      <div id="containerGames">
        <div class="game" id="gameModif" *ngIf="gameModif" style="padding-right: 1rem;">
          <div class="center">
            <h2>{{gameModif.title}} </h2>
            <img [src]="gameModif.photo" class="photoGame photo">
          </div>
          <div class="form-group">
            <label for="developpeurModif">Développeur</label>
            <input type="text" id="developpeurModif" value="{{gameModif.developpeur}}" class="form-control developpeur" disabled>
          </div>
          <div class="form-group">
            <label for="ageModif">Âge requis</label>
            <input type="number" id="ageModif" class="form-control age" min="1" max="18" value="{{gameModif.age}}" disabled>
          </div>
          <label for="" class="genre">Genre(s)</label>
          <ul class="list-group list-group-horizontal mb-2" id="listGenreSelected"> <!--S'il y a au moins un genre, on affiche-->
            <li class="list-group-item disabled" *ngFor="let genreSelected of gameModif.genre">{{genreSelected}}</li>
          </ul>
          <label for="" class="plateforme">Plateforme(s)</label>
          <ul class="list-group list-group-horizontal" id="listPlateformSelected"> <!--S'il y a au moins un genre, on affiche-->
            <li class="list-group-item disabled" *ngFor="let plateformeSelected of gameModif.plateforme">{{plateformeSelected}}</li>
          </ul>
          <div class="form-group">
            <label for="releaseYearModif">Année de sortie</label>
            <input type="number" id="releaseYearModif" min="0" class="form-control releaseYear" disabled value="{{gameModif.releaseYear}}" >
          </div>
          <div class="form-group">
            <label for="descriptionModif">Description</label>
            <textarea class="form-control description" id="descriptionModif" value="{{gameModif.description}}" disabled rows="3"></textarea>
          </div>
          <div class="form-group">
            <div class="custom-control custom-checkbox mr-sm-2">
                <input *ngIf="gameModif.multijoueur == 'Oui';else unCheck" type="checkbox" class="custom-control-input" id="customControlAutosizing" checked disabled>
                <ng-template #unCheck><input type="checkbox" class="custom-control-input" id="customControlAutosizing" disabled></ng-template>
                <label class="custom-control-label multijoueur" for="customControlAutosizing">Multijoueur</label>
            </div>
          </div>
        </div>

        <!-- JEU -->
        <div class="game" id="currentGame" *ngIf="currentGame" style="padding-left: 1rem;">
          <div class="center">
            <h2>{{currentGame.title}} </h2>
            <img [src]="currentGame.photo" class="photoGame photo">
          </div>
          <div class="form-group">
            <label for="developpeur">Développeur</label>
            <input type="text" id="developpeur" value="{{currentGame.developpeur}}" class="form-control developpeur" disabled> 
          </div>
          <div class="form-group">
            <label for="age">Âge requis</label>
            <input type="number" id="age" class="form-control age" min="1" max="18" value="{{currentGame.age}}" disabled>
          </div>
          <label for="" class="genre">Genre(s)</label>
          <ul class="list-group list-group-horizontal mb-2" id="listGenre"> <!--S'il y a au moins un genre, on affiche-->
            <li class="list-group-item disabled" *ngFor="let genreSelected of currentGame.genre">{{genreSelected}}</li>
          </ul>
          <label for="" class="plateforme">Plateforme(s)</label>
          <ul class="list-group list-group-horizontal" id="listPlateform"> <!--S'il y a au moins un genre, on affiche-->
            <li class="list-group-item disabled" *ngFor="let plateformeSelected of currentGame.plateforme">{{plateformeSelected}}</li>
          </ul>
          <div class="form-group">
            <label for="releaseYear">Année de sortie</label>
            <input type="number" id="releaseYear" min="0" class="form-control releaseYear" disabled value="{{currentGame.releaseYear}}" >
          </div>
          <div class="form-group">
            <label for="description">Description</label>
            <textarea class="form-control description" id="description" value="{{currentGame.description}}" disabled rows="3"></textarea>
          </div>
          <div class="form-group">
            <div class="custom-control custom-checkbox mr-sm-2">
                <input *ngIf="currentGame.multijoueur == 'Oui';else unChecked" type="checkbox" class="custom-control-input" id="customControl" checked disabled>
                <ng-template #unChecked><input type="checkbox" class="custom-control-input" id="customControl" disabled></ng-template>
                <label class="custom-control-label multijoueur" for="customControl">Multijoueur</label>
            </div>
          </div>

        </div>
      </div>

      <div *ngIf="currentGame && gameModif" class="center">
        <button class="btn btn-outline-success" [disabled]="!isValid" (click)="onValidateNewGame()">Modifier</button>
        <button class="btn btn-outline-info ml-3" (click)="reset()" >Reset</button>
      </div>

    </div>
  </div>