svg {
    margin-left: 3px;
    cursor: pointer;
}

#listGenreSelected,#listPlateformeSelected {
    margin-top: 10px;
}

.red {
    color:red;
}

.photoJeu {
    max-width:auto;
    max-height: 225px;
    display: block;
    margin-bottom: 8px;
 }

#last {
    display: flex;
    justify-content: flex-end;
}